<!DOCTYPE html>
<html lang="en" data-overlayscrollbars-initialize>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <title>{% if page.title %}{{ page.title }} | {% endif %}Spire 2 Stats</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  {% if page.tags and page.tags != "" %}
  <meta name="keywords" content="{{ page.tags }}">
  {% endif %}
  <link rel="canonical" href="https://spire2stats.com{{ page.permalink }}">

  <meta property="og:site_name" content="Spire 2 Stats">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Spire 2 Stats{% endif %}">
  <meta property="og:url" content="https://spire2stats.com{{ page.permalink }}">
  <meta name="theme-color" content="#0085e3"> 
  
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/legacy-quarantine.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0..1,0"/>
  
  {% if page.custom_css %}
    {% assign css_list = page.custom_css | join: ',' | split: ',' %}
    {% for css in css_list %}
      <link rel="stylesheet" href="{{ css }}">
    {% endfor %}
  {% endif %}
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.14.0/styles/overlayscrollbars.min.css">
</head>
<body data-overlayscrollbars-initialize>

<header>
  <h1 class="title"><a href="{{ '/' | relative_url }}">spire2stats.com</a></h1>
  <p class="subtitle">The complete Slay the Spire 2 Database and Analytics.</p>
</header>

<main class="{% if page.url != '/' and page.url != '/index.html' %}site-container{% endif %}">
  {% if page.url != '/' and page.url != '/index.html' %}
    <div class="top-nav-wrapper" style="margin-top: 5px; margin-bottom: 5px; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; gap: 10px;">
        <div style="flex: 1; min-width: 250px;">
        </div>
    </div>
  {% endif %}

  {{ content }}
</main>
<script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.14.0/browser/overlayscrollbars.browser.es6.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Initialize on the whole body
    OverlayScrollbarsGlobal.OverlayScrollbars(document.body, {
      scrollbars: {
        theme: 'os-theme-custom', 
        autoHide: 'leave',        
        autoHideDelay: 300,
        clickScroll: true
      }
    });
  });
</script>

</body>
</html>